# Ignore node_modules folder
node_modules/

# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore system files
OASAenv/

# Ignore environment files
.env
user_settings.json
credentials.json
token.json